@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

/* - Mobile: 375px
- Desktop: 1366px */
:root{
   
    /*  */
   --clr-img-bg :  rgb(252, 241, 241);

}

html{
   min-height: 100%;
}

body{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    color: whitesmoke;
    font-family: 'Barlow Semi Condensed', sans-serif;
    min-height: 100%;
    
}

.body_full{
    align-items: center;
}

.rock_paper_scissors{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 8px;
    padding: 1%;
    max-width: none;
}

.logo{
    display: flex;
    justify-content: center;
    padding: 1%;
}

.scorecard{
    background-color: whitesmoke;
    color: black;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    border-radius: 8px;
}

.score-title{
    font-size: 15px;
    color: hsl(229, 64%, 46%);
    text-align: center;
}

.score{
    font-size: 44px;
    color:  hsl(229, 25%, 31%);
    text-align: center;
}

main{
    display: flex;
    flex-flow: row wrap;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#paper, #rock, #scissors{
    width: 85px;
    height: 85px;
    position: relative;
    border-radius: 50%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#paper, #rock, #scissors:hover{
    cursor:pointer;
}

#paper img, #rock img, #scissors img{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    padding: 24px;
    box-shadow: 0px 5px 2px 0px rgb(209, 201, 201) inset;
}

#paper{
    background: linear-gradient(hsl(230, 89%, 62%),hsl(230, 89%, 65%));
    box-shadow: 0px -5px 2px 0px #354eca inset;
}

#paper img{
    background: var(--clr-img-bg);
}

#paper img:hover{
    background:hsl(225, 9%, 83%);
}

#scissors{
    background: linear-gradient(hsl(39, 90%, 46%),hsl(40, 84%, 53%));
    box-shadow: 0px -5px 2px 0px rgb(175, 115, 3) inset;
}

#scissors img{
    background: var(--clr-img-bg);
}

#scissors img:hover{
    background:hsl(225, 9%, 83%);
}

#rock{
    background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    box-shadow: 0px -5px 2px 0px rgb(165, 12, 12) inset;
}

#rock img{
    background: var(--clr-img-bg);
}

#rock img:hover{
    background:hsl(225, 9%, 83%);
}

.triangle{
    top: 50px;
    position: absolute;
    z-index: -1;
}

.imgTriangle{
    max-height: 250px;
}

.rules{
    display: flex;
    justify-content: flex-end;
}

.btn {
    border: 2px solid whitesmoke;
    border-radius: 5px;
    background-color: transparent;
    color: whitesmoke;
    font-family: "Barlow Semi Condensed";
    padding: 8px 28px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 40px;
    margin-bottom: 20px;
}
  
.default {
    border-color: whitesmoke;
    color: whitesmoke;
}
  
.default:hover {
    background: #e7e7e7;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
    border-radius: 3%;

  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .w3-container{
      display: flex;
      justify-content: center;
      flex-direction: column;
      max-width: fit-content;
      max-height: fit-content;
      padding: 3%;
  }

.rules_head{
    color: hsl(229, 25%, 31%);
    background-color: aqua;
}

#outputDivOne div, #outputDivTwo div {
    order: 2;
   
 }
 
 #outputDivOne, #outputDivTwo{
     gap: 2rem;
 }

 #ResultRoundMain{
    display: none;
    flex-direction: column;
    
}


#output1, #output2{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    letter-spacing: 0.1rem;
}

#ResultRound, #ResultRoundMain{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 3rem;
    margin-top: -3.5rem;

}
#ResultRoundMain{
    margin: 0;
}
#ResultRound div, #ResultRoundMain div{
    font-size: 3rem;
    font-weight: 700;
}
.playAgain{
    padding: 0.75rem 2.5rem;
    border-radius: 8px;
    letter-spacing: 0.1rem;
    color: #1c2241;
    font-weight: 700;
}
.playAgain:hover{
    cursor: pointer;
}

.output{
    display: flex;
    flex-direction: column;
    width: min(90%, 40.5em);
    margin: 1rem auto;
}